<ion-menu-toggle menuId="options-menu">
  <ion-item routerLink="/main-page" class="ion-activatable ripple-parent rectangle click">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>
        <ion-icon name="home-outline"></ion-icon>
          Home Page
      </ion-label>
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle menuId="options-menu">
  <ion-item routerLink="/lonline-game" class="ion-activatable ripple-parent rectangle click">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>
        <ion-icon name="planet-outline"></ion-icon>
          Play Online
      </ion-label>
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle menuId="options-menu">
  <ion-item routerLink="/local-game" class="ion-activatable ripple-parent rectangle click">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>
        <ion-icon name="game-controller-outline"></ion-icon>
          1v1 Local Game
      </ion-label>
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle menuId="options-menu">
  <ion-item routerLink="/feline-forum" class="ion-activatable ripple-parent rectangle click">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>
        <ion-icon name="chatbubbles-outline"></ion-icon>
          Feline Forum
      </ion-label>
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle menuId="options-menu">
  <ion-item routerLink="/learn-more" class="ion-activatable ripple-parent rectangle click">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>
        <ion-icon name="help-circle-outline"></ion-icon>
          Learn More
      </ion-label>
  </ion-item>


