<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>localGame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="display:flex; flex-direction: row; justify-content: space-between; margin:2rem">
    <div style="width:25%">
      <app-character-select [score]="player1Score"
        (colorChange)="colorChange($event, 'player1')"></app-character-select>
    </div>

    <div>
      <div style="display:flex;justify-content: center;">
        <ion-button color="success"> {{timer}}</ion-button>
      </div>
      <app-gameboard [active]="active" (scoreChanges)="scoreChange($event)" [player1Color]="player1Color"
        [player2Color]="player2Color"></app-gameboard>
      <div style="width: 100%; padding-inline:1rem; text-align: center; ">
      <ion-button expand="block" *ngIf="!active && timer ===30 || timer <1" (click)="startGame()">
        <div>
          <p style="font-size: 1.5rem;">Start Game</p>
          <p style="font-size: .75rem;">(space bar)</p>
        </div>
      </ion-button>

      <ion-button expand="block" *ngIf="!active && timer <30 && timer > 1" (click)="resumeGame()">
        <div>
          <p style="font-size: 1.5rem;">Resume Game</p>
          <p style="font-size: .75rem;">(space bar)</p>
        </div>
      </ion-button>
      <ion-button *ngIf="active" color="warning" (click)="pauseGame()">
        <div>
          <p style="font-size: 1.5rem;">Pause Game</p>
          <p style="font-size: .75rem;">(space bar)</p>
        </div>

      </ion-button>
    </div>
    </div>


    <div style="width:25%">
      <app-character-select2 [score]="player2Score"
        (colorChange)="colorChange($event, 'player2')"></app-character-select2>
    </div>
  </div>



</ion-content>