<ion-header>
  <ion-toolbar>
    <ion-title size="large">onlineGame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <app-quick-start [showRefresh]="true"> </app-quick-start>
  <div>
    <ion-item>
      <ion-title > <div style="display:flex; flex-direction: row; align-items: center;"> <ion-img src="assets/icon/favicon.png" style="width: 30px; height: 30px; margin-inline-end: 1rem;"></ion-img>
       Public Games: </div></ion-title>
    
       <ion-icon name="funnel-outline"></ion-icon>
    </ion-item>
  </div>

  <ion-list >
    <ion-item *ngFor="let game of roomList" (click)="joinGame(game)">
      <ion-label>
        <h2>{{game.simpleCode}}</h2>
        <p>{{game.mode}}</p>
      </ion-label>

      <ion-icon></ion-icon>
    </ion-item>
    
    </ion-list>
</ion-content>
