<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>learnMore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-text>
  <div style="margin:2rem">
  <h1>Learn more about Nom Kitties!</h1>
  <div>
    <p>Click the button below to go back to the main page.</p>
    <ion-button routerLink="/main-page" color="primary">Main Page</ion-button>
  </div>

  <div>
    <h2>About</h2>
    <p>Nom kitties is a game developed by Alberto Sosa, it is free to play, I made it for a hackathon to explore the wonderful tools in AWS.</p>
    <p>It is a game of strategy and skill, where you collect the most treats to win!</p>
  </div>
  <div>
    <h2>Local Games</h2>
    <p>Local games are played on the same device, and are great for playing with friends in the same room.</p>

    </div>
    <div>
      <h2>Online Games</h2>
    <p>Online games are played with friends over the internet, and are great for playing with friends who are far away.</p>
   
    <p>To Host games, and play online with friends you have to make an account. I use aws cognito and have no access to your passwords or anything like that.</p>
   
    </div>
   <div>
    <h2>Conclusion</h2>
    <p>I hope you enjoy the game, and if you have any questions or suggestions, please let me know! akili&#64;sosaanimationstudios.com</p>

  </div>
</div>
</ion-text>
</ion-content>
