// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-timer: #77CBB9;
	--ion-color-timer-rgb: 119,203,185;
	--ion-color-timer-contrast: #000000;
	--ion-color-timer-contrast-rgb: 0,0,0;
	--ion-color-timer-shade: #69b3a3;
	--ion-color-timer-tint: #85d0c0;
}

.ion-color-timer {
	--ion-color-base: var(--ion-color-timer);
	--ion-color-base-rgb: var(--ion-color-timer-rgb);
	--ion-color-contrast: var(--ion-color-timer-contrast);
	--ion-color-contrast-rgb: var(--ion-color-timer-contrast-rgb);
	--ion-color-shade: var(--ion-color-timer-shade);
	--ion-color-tint: var(--ion-color-timer-tint);
}

:root {
	--ion-color-settings: #CDD3D5;
	--ion-color-settings-rgb: 205,211,213;
	--ion-color-settings-contrast: #000000;
	--ion-color-settings-contrast-rgb: 0,0,0;
	--ion-color-settings-shade: #b4babb;
	--ion-color-settings-tint: #d2d7d9;
}

.ion-color-settings {
	--ion-color-base: var(--ion-color-settings);
	--ion-color-base-rgb: var(--ion-color-settings-rgb);
	--ion-color-contrast: var(--ion-color-settings-contrast);
	--ion-color-contrast-rgb: var(--ion-color-settings-contrast-rgb);
	--ion-color-shade: var(--ion-color-settings-shade);
	--ion-color-tint: var(--ion-color-settings-tint);
}