.container {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 2rem;
  }
  
  .image-wrapper {
    text-align: center;
  }
  
  .centered-image {
    display: block;
    margin: 0 auto;
  }
  