<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nom Kitties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="image-wrapper">
      <img src="assets/landing/title.png" alt="Nom Kitty in bubble letters" class="centered-image" />
    </div>
  
    <div class="image-wrapper">
      <img src="assets/landing/kitty.png" alt="Nom Kitty in bubble letters" class="centered-image" />
    </div>

    
    <div style="width:25%; margin:auto">
    <ion-button expand="block" routerLink="/dashboard" color="primary"> Online <span>&nbsp;</span> <ion-icon name="planet-outline"></ion-icon></ion-button>
    <ion-button expand="block" routerLink="/local-game" color="secondary">Local Game <span>&nbsp;</span><ion-icon name="game-controller-outline"></ion-icon></ion-button>
    <ion-button expand="block" routerLink="/learn-more" color="warning">Learn More <span>&nbsp;</span><ion-icon name="help-circle-outline"></ion-icon></ion-button>
  </div>
  </div>
  
</ion-content>
