.container {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 2rem;
  }
  
  .image-wrapper {
    text-align: center;
  }
  
  .centered-image {
    display: block;
    margin: 0 auto;
  }

  .button-container {
    width:25%; margin:auto
  }
  
  @media screen and (max-width: 576px) {
    .button-container {
      width:100%; 
    }
  }


  @media screen and (min-width: 576px) and (max-width: 768px) {
    .button-container {
      width:60%; 
    }
  }
